* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--fonte-principal);
    text-decoration: none;
    outline: none;
    border: none;
}
:root {
    --laranja-claro: #fed492;
    --laranja: #FAB344;
    --laranja-escuro: #c68b2d;
    --azul: #326589;
    --azul-escuro: #002F52;
    --azul-degrade: linear-gradient(97.54deg, #002F52, #326589 165.37%);
    --branco: #fff;
    --cinza-bg: #cacaca;
    --preto: #000;
    --fonte-principal: "Cabin Condensed", sans-serif;
}


body {
    background: var(--cinza-bg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

header {
    position: fixed;
    z-index: 10;
    width: 100vw;
    top: 0;
}

/*NAV SUPERIOR*/

.nav-superior {
    background: var(--azul-degrade);
    color: var(--branco);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 4rem;
}
.link {
    color: var(--branco);
}

/*LOGO*/

.nav-logo {
    height: 4rem;
}

/*BARRA DE PESQUISA*/

.nav-box-pesquisa {
    display: flex;
    justify-content: center;
    width: 30vw;
    border: none;
}
.barra-pesquisa {
    width: 90%;
    color: var(--preto);
    padding: 0.6rem;
    font-size: 16px;
    border-radius: 8px 0 0 8px;
}
.nav-pesquisa-btn {
    width: 10%;
    background-color: var(--laranja);
    border-radius: 0 8px 8px 0;
    cursor: pointer;
}
.nav-pesquisa-btn:active {
    background-color: var(--laranja-escuro);
}

/*USUARIO-CARRINHO*/

.nav-box-usuariocarrinho {
    display: flex;
}

.nav-icone {
    height: 2.5rem;
}

.nav-box-usuario {
    display: flex;
    margin-right: 5rem;
    width: 7.5rem;
}
.nav-icone-usuario {
    margin-right: 0.5rem;
}
.nav-box-carrinho{
    position: relative;
}

.nav-box-carrinho::before {
    position: absolute;
    content: attr(data-count);
    top: -0.75rem;
    right: -0.75rem;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--laranja);
    color: var(--azul-escuro);
    border-radius: 50%;
    font-weight: 900;
}


/*NAV INFERIOR*/

.nav-inferior {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--laranja);
    color: var(--azul-escuro);
    font-size: 17px;
    padding: 0.4rem;
}

.nav-inferior-link {
    font-weight: 900;
    color: var(--azul-escuro);
    padding: 0.4rem 1rem;
    text-wrap: nowrap;
}
.nav-inferior-link:hover {
    background-color: var(--laranja-claro);
    border-radius: 30px;
    transition: 250ms;
}


/*BANNER*/
.banner {
    display: flex;
    justify-content: center;
    margin-top: 10rem;
}
.banner-box {
    position: relative;
    width: 90%;
    padding-top: calc(90% * (1 / 4));
    background: var(--azul-escuro);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-link {
    position:absolute;
    cursor: pointer;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('img/banner-pc.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.banner-btn {
    border-radius: 50%;
    cursor: pointer;
    color: var(--branco);
    font-weight: bold;
    font-size: 28px;
    user-select: none;
    background-color:var(--azul);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    margin: 0 1rem;
    width: 4%;
    height: 15%;
    position: absolute;
    top: 45%;
    visibility: hidden;
}
.banner-btn:last-child {
    right: 0;
}
.banner-btn:hover {
    background-color: var(--laranja);
    transition: 200ms;
}
.banner-box:hover .banner-btn {
    visibility: visible;
}
.banner-btn:active {
    background-color: var(--laranja-escuro);
}

/*LISTA DE PRODUTOS*/
.pagina-produtos-titulo {
    position: relative;
    color: var(--azul);
    margin: 3rem 0 1rem 3rem;
    text-wrap: nowrap;
    font-size: 26px;
}
.pagina-produtos-titulo>span{
    position: relative;
    font-size: 32px;
    color: var(--azul-escuro);
}
.pagina-produtos-titulo>span::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 6px;
    bottom: -0.25rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--laranja);
}


.pagina-produtos {
    display: flex;
    padding: 0 2rem;
    overflow-x: scroll;
    align-items: center;
    background: #dedede;
}


.card-produto {
    cursor: pointer;
    user-select: none;
    background: var(--branco);
    height: 300px;
    width: 15%;
    min-width: 200px;
    border-radius: 15px;
    padding: .8rem .5rem;
    margin: 2rem 1rem;
    border:2px solid rgba(0, 29, 55, 0.353);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    position: relative;
}
.card-produto:hover {
    transition: 250ms;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.268);
}
.card-link {
    color: var(--azul-escuro);
}
.card-box-imagem {
    text-align: center;
}
.imagem-card-produto {
    width: 110px;
}
.titulo-card-produto {
    user-select: auto;
    color: var(--azul-escuro);
    font-size: 16px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    height: calc(2 * 1.2em);
}

.valor-anterior-produto {
    text-decoration: line-through;
    font-size: 18px;
}
.valor-card-produto {
    font-size: 22px;
    font-weight: bold;
    color: var(--azul-degrade);
}

.add-card-produto {
    border-radius: 8px;
    width: 90%;
    height: 30px;
    font-size: 15px;
    padding: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: var(--laranja);
    transition: 250ms;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
.add-card-produto:hover {
    background-color: var(--laranja);
    color: var(--branco);
}
.add-card-produto:active {
    background-color: var(--laranja-escuro);
}

.pagina-produtos-continuacao {
    text-wrap: nowrap;
    border: 1px solid;
    border-radius: 8px;
    color: var(--azul-escuro);
    background: var(--laranja);
    padding: 0.4rem 0.6rem;
    font-weight: 900;
    
}

/*RODAPE*/
.rodape {
    background: var(--azul-degrade);
    color: var(--branco);
    padding: 2rem 4rem;
    text-align: center;
    justify-content:space-around;
    display: flex;
    align-items: flex-start;
}
.rodape-contato{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rodape-titulo {
    margin: 0.7rem 0;
}
.rodape-logo {
    width: 40%;
    margin-bottom: 1rem;
}
.rodape-link {
    margin: 0.5rem;
}
.rodape-telefone {
    display: flex;
}
.rodape-googleplay {
    width: 120px;
}
.rodape-appstore {
    width: 108px;
}

/*MEDIA QUERIES*/

@media screen and (max-width: 950px) {
    .nav-superior {
        padding: 0.5rem 1rem;
    }
    
    .nav-inferior-link:hover {
        border-radius: 0px;
    }

    .nav-box-carrinho::before {
        top: -0.5rem;
        right: -0.5rem;
        width: 1.2rem;
        height: 1.2rem;
        font-size: 14px;
    }

    .banner {
        margin-top: 9rem;
    }

    .rodape-titulo {
        font-size: 16px;
    }
    .rodape-link {
        font-size: 14px;
    }
    .rodape-titulo>span {
        display: none;
    }
}


@media screen and (max-width: 740px) {
    /*NAV SUPERIOR*/
    .nav-superior {
        padding: 0.5rem 1rem;
    }

    .nav-logo {
        height: 3rem;
        margin-right: 0.5rem;
    }

    .nav-box-pesquisa {
        width: 40vw;
    }
    .nav-pesquisa-btn {
        width: 2rem;
    }
    
    .nav-box-usuario-desc {
        display: none;
    }
    .nav-icone {
        height: 1.8rem;
    }
    .nav-box-usuariocarrinho {
        justify-content: flex-end;
    }
    .nav-box-usuario {
        margin-right: 1rem;
        width: 100%;
    }
    .nav-box-carrinho::before {
        font-size: 12px;
    }
    
    /*NAV INFERIOR*/
    .nav-inferior {
        font-size: 16px;
        padding: 0rem;
    }
    .nav-inferior-link {
        padding: 0.4rem 0.6rem;
    }
    .categoria-produtos {
        display: none;
    }

    .nav-box-carrinho::before {
        font-size: 12px;
    }

    /*MAIN*/
    main {
        text-align: center;
    }

    /*BANNER*/
    .banner {
        margin-top: 6rem;
    }

    .banner-box {
        margin-top: 1rem;
        width: 100%;
        padding-top: calc(100% * (1 / 2));
    }
    .banner-link {
        background-image: url('img/banner-mobile.svg');
    }
    .banner-btn {
        display: none;
    }

    /*PAGINA PRODUTOS*/
    .pagina-produtos-titulo {
        margin: 3rem 0 1rem 0;
        font-size: 20px;
    }

    .pagina-produtos-titulo>span {
        font-size: 23px
    }
    
    .card-produto {
        margin: 1rem;
    }

    /*RODAPE*/
    
    .rodape {
        display: flex;
        flex-direction: column;
        padding: 1rem 2rem;
        align-items: center;
    }
    
    .rodape-logo {
        width: 30vw;
    }

    .redes-sociais-box {
        display: block;
    }

    .rodape-titulo,
    .rodape-formas-pagamento-bandeira,
    .rodape-redes-sociais {
        display: none;
    }
}

@media screen and (max-width: 350px) {
    .nav-superior {
        padding: 0.2rem 0.5rem;
    }

    .nav-icone {
        height: 1.5rem;
    }

    .nav-box-usuario {
        margin-left: 0.5rem;
        width: 2rem;
    }

    .nav-inferior-link {
        padding: 0.25rem 0.6rem;
    }

    .banner {
        margin-top: 4.7rem;
    }

    /*PAGINA PRODUTOS*/
    .pagina-produtos-titulo {
        margin: 3rem 0 1rem 0;
        font-size: 16px;
    }

    .pagina-produtos-titulo>span {
        font-size: 18px;
    }


    /*RODAPE*/

    .rodape-logo {
        width: 40vw;
    }
}